.userList{
    flex: 4;
}

.userListUser{
    display: flex;
    align-items: center;
}

.userListUser img{
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}


.userListEdit {
    display: flex;
    align-items: center;
}

.userListEdit button {
    border: none;
    padding: 7px 16px;
    background: #3bb077;
    color: #fafafa;
    cursor: pointer;
    border-radius: 10px;
    margin-right: 20px;
}

.userListEdit svg{
    color: rgb(255, 44, 72);
    cursor: pointer;
}